body {
  margin: 0px;
  padding: 15px 0px;
}
body,
table {
  font-family: Arial, Helvetica, sans-serif;
}

/* Classes */
.text-regular {
  font-family: Arial, Helvetica, sans-serif;
}
.text-medium {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.text-bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.container-width {
  min-width: 335px;
  max-width: 536px;
}

/* For mobile devices */
.adBuilder-Logo {
  width: 91.4px;
  height: 16px;
  display: block;
}
.advertiser-details {
  font-size: 10px;
  line-height: 1.2;
  color: #464e56;
}
/* Banner */
.banner {
  background-color: #232a31;
  color: #ffffff;
  height: 48px;
}
.banner-message {
  font-size: 18px;
  line-height: 1.33;
  padding: 12px 52px;
}
/* email-body */
.email-body {
  font-size: 14px;
  line-height: 1.43;
  color: #232a31;
}
/* info-banner */
.info-banner {
  padding-left: 14px;
}
.info-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.info-text {
  font-size: 16px;
  line-height: normal;
  padding-left: 9px;
}
/* Buttons */
.button-dark,
.button-light {
  padding: 8px 0px;
  min-width: 149px;
  border-radius: 31px;
  border: solid 1px #b9bdc5;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.6;
  display: inline-block;
}
.button-dark {
  background-color: #232a31;
  color: #ffffff;
  margin-right: 20px;
}
.button-light {
  background-color: #ffffff;
  color: #232a31;
}
.buttons-wrapper {
  text-align: center;
  margin: 28px auto 56px;
}
/* Breakline */
.breakline {
  width: 100%;
  background: #232a31;
}

/* Help component styles */
.help-wrapper {
  margin-bottom: 56px;
}
.help-heading {
  font-size: 20px;
  line-height: 1.4;
}
.help-content {
  padding: 12px 0px 0px 0px;
}
.customer-support {
  width: 80px;
  height: 80px;
}
.help-items {
  font-size: 14px;
  margin: 6px auto;
  padding-left: 16px;
  line-height: 1.43;
}
.help-items a {
  text-decoration: inherit;
  color: inherit;
}
/* Footer styles  */
.footer-link {
  font-size: 12px;
  color: #232a31;
}
.footer-text {
  font-size: 12px;
  color: #464e56;
}

/* Email confirmation for mobile*/
.confirmEmail {
  min-width: 335px;
  width: 100%;
  height: 78px;
  border-radius: 4px;
  background-color: #f6f6f6;
  display: table;
  margin: 40px auto 88px;
}
.confirmEmailLink {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: #464e56;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
}
/* Email confirmation for mobile ends here */

/* For desktop screens */
@media (min-device-width: 767px) {
  .container-width {
    max-width: 536px !important;
  }
  .adBuilder-Logo {
    width: 160px !important;
    height: 28px !important;
  }
  .advertiser-details {
    font-size: 14px !important;
    line-height: 1.43 !important;
  }
  /* Banner */
  .banner {
    height: 128px !important;
  }
  .banner-message {
    font-size: 32px !important;
    line-height: 1.25 !important;
    padding: 22px 72px 26px !important;
  }

  /* email-body */
  .email-body {
    font-size: 18px !important;
    line-height: 1.56 !important;
  }
  /* info-banner */
  .info-banner {
    padding-left: 20px !important;
  }
  .info-logo {
    width: 40px !important;
    height: 40px !important;
  }
  .info-text {
    font-size: 20px !important;
    line-height: 1.4 !important;
    padding-left: 16px !important;
  }
  /* Buttons */
  .button-dark,
  .button-light {
    padding: 10px 0px !important;
    min-width: 208px !important;
    border-radius: 31px !important;
    font-size: 20px !important;
    line-height: 1.4 !important;
  }
  .button-dark {
    margin-right: 20px !important;
  }

  .buttons-wrapper {
    margin: 48px auto 88px !important;
  }
  /* Breakline */
  .breakline {
    width: 100% !important;
    background: #232a31 !important;
  }

  /* Help component styles */
  .help-wrapper {
    margin-bottom: 60px !important;
  }
  .help-heading {
    font-size: 32px !important;
    line-height: 1.25 !important;
  }
  .help-content {
    padding: 24px 0px 0px 0px !important;
  }
  .customer-support {
    width: 120px !important;
    height: 120px !important;
  }
  .help-items {
    font-size: 18px !important;
    margin: 6px auto !important;
    padding-left: 12px !important;
  }

  /* Footer styles  */
  .footer-link {
    font-size: 16px !important;
  }

/* Email confirmation for desktop */
.confirmEmail {
  min-width: 536px !important;
  width: 100% !important;
  height: 92px !important;
}
.confirmEmailLink {
  font-size: 14px !important;
  line-height: 1.43 !important;
  letter-spacing: normal !important;
}
/* Email confirmation for desktop ends here */
}