<table cellpadding="0" cellspacing="0" class="container-width">
  <tr>
    <td>
      <br /><a
        target="_blank"
        href="https://policies.oath.com/us/en/oath/privacy/index.html"
        class="footer-link"
        ><strong>Privacy Policy</strong></a
      >
      |
      <a
        target="_blank"
        href="https://policies.oath.com/us/en/oath/terms/advertising/masterterms/masterterms-322/index.html"
        class="footer-link"
        ><strong>Terms of Service</strong></a
      >
      |
      <a target="_blank" href="https://www.ad.com/help" class="footer-link"
        ><strong>Help</strong></a
      ><br />
      <p class="footer-text">
        Copyright &#169;2019 Verizon Media. All rights reserved.<br />
        <br />
        This is an automated notice. Replies to this address will not be
        received. For your protection, Verizon Media will never ask you to
        provide your billing information via email.
      </p>
    </td>
  </tr>
</table>
