<!-- Need help -->

<table class="help-wrapper" cellspacing="0" cellpadding="0" width="100%">
  <tr align="center">
    <td colspan="2" class="help-heading text-bold">
      Need help?
    </td>
  </tr>
  <tr>
    <td class="help-content">
      <img
        class="customer-support"
        src="https://s.yimg.com/av/static/gemini-lite-email/jpg/custome_support.jpg"
        alt="customer-support"
      />
    </td>
    <td class="help-content">
      <p class="help-items">
        <a target="_blank" href="https://www.ad.com/faq">
          📘 Help & support guide
        </a>
      </p>
      <p class="help-items">
        <a target="_blank" href="https://www.ad.com/contact-us">
          💬 Contact us
        </a>
      </p>
      <p class="help-items">
        <a href="mailto:ads.support@verizonmedia.com">
          💌 Email us at ads.support@verizonmedia.com
        </a>
      </p>
    </td>
  </tr>
</table>

<!-- Need help component ends here -->
